<template>
 <div class="epayco-login_forms">
   <h2>Consultar saldo</h2>
    <a-form :form="form" @submit="handleSubmit">
      <a-form-item label="Documento">
        <a-input
          v-decorator="[
            'document',
            {
              rules: [{ required: true, message: 'Este campo es requerido!' }],
            },
          ]"
        />
      </a-form-item>
    <a-form-item label="Celular">
      <a-input
        v-decorator="[
          'phone',
          {
            rules: [{ required: true, message: 'Este campo es requerido!' }],
          },
        ]"
        style="width: 100%"
      >
        <a-select
          slot="addonBefore"
          v-model="prefix"
          style="width: 90px"
          required
        >
          <a-select-option v-for="code in areaCodes"
          :key="code" :value="code">
            +{{ code }}
          </a-select-option>
        </a-select>
      </a-input>
    </a-form-item>
    <div class="check-balance-buttons">
      <a-button type="default" @click="handleReturn">
        Regresar
      </a-button>
      <a-button type="primary" html-type="submit">
        Consultar
      </a-button>
    </div>
    </a-form>
  </div>
</template>

<script>
import _ from 'lodash'
  export default {
    props: {
      clients: {
        type: Array,
        default: []
      },
    },
    data() {
      return {
        areaCodes: ['34', '52', '54', '56', '591', '55', '57', '593', '595', '51', '598', '58'],
        prefix: '',
      }
    },
    beforeCreate() {
      this.form = this.$form.createForm(this, { name: 'register' });
    },
    methods: {
      handleSubmit(e) {
        e.preventDefault();
        this.form.validateFieldsAndScroll((err, values) => {
          values.phone = this.prefix + values.phone;
          if (!err) {
            const match = _.find(this.clients, item => item.document === values.document && item.tlf === values.phone);
            if (match) {
              match.balance;
              this.$success({
                title: 'Saldo disponible',
                content: `Su saldo actual es ${match.balance}`,
              })
            } else {
              this.$warning({
                title: 'Cliente no encontrado',
                content: 'No se ha encontrado cliente con los datos ingresados, por favor verifiquelos e intente nuevamente',
              })
            }
          }
        });
      },
      handleReturn() {
        this.$router.push('/epayco');
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>