<template>
 <div class="epayco-login_forms">
   <h2>Recarga de saldo</h2>
    <a-form :form="form" @submit="handleSubmit">
      <a-form-item label="Documento">
        <a-input
          v-decorator="[
            'document',
            {
              rules: [{ required: true, message: 'Este campo es requerido!' }],
            },
          ]"
        />
      </a-form-item>
    <a-form-item label="Celular">
      <a-input
        v-decorator="[
          'phone',
          {
            rules: [{ required: true, message: 'Este campo es requerido!' }],
          },
        ]"
        style="width: 100%"
      >
        <a-select
          slot="addonBefore"
          v-model="prefix"
          style="width: 90px"
          required
        >
          <a-select-option v-for="code in areaCodes"
          :key="code" :value="code">
            +{{ code }}
          </a-select-option>
        </a-select>
      </a-input>
    </a-form-item>
    <a-form-item label="Valor">
        <a-input
          v-decorator="[
            'value',
            {
              rules: [{ required: true, message: 'Este campo es requerido!' }],
            },
          ]"
        />
      </a-form-item>
      <div class="check-balance-buttons">
        <a-button type="default" @click="handleReturn">
          Regresar
        </a-button>
        <a-button type="primary" html-type="submit">
          Recargar
        </a-button>
      </div>
    </a-form>
  </div>
</template>

<script>
import _ from 'lodash'
  export default {
    props: {
      clients: {
        type: Array,
        default: []
      },
    },
    data() {
      return {
        areaCodes: ['34', '52', '54', '56', '591', '55', '57', '593', '595', '51', '598', '58'],
        prefix: ''
      }
    },
    beforeCreate() {
      this.form = this.$form.createForm(this, { name: 'register' });
    },
    methods: {
      handleReturn() {
        this.$router.push('/epayco');
      },
      handleSubmit(e) {
        e.preventDefault();
        this.form.validateFieldsAndScroll((err, values) => {
          values.phone = this.prefix + values.phone;
          if (!err) {
             const form = {
              document: values.document,
              tlf: values.phone,
              balance: values.value
            }
            this.$axios.post('/client/update', form).then((response)=>{
              console.log(response);
              if(response.status === 200) {
                this.$success({
                  title: 'Recargar exitosa',
                  content: 'El saldo ha sido cargado a su cuenta de manera exitosa!.',
                })
                setTimeout(() => this.$router.push('/epayco'), 2000);
              }
            }).catch((error)=>{
              console.log(error)
              this.$danger({
                title: 'Error inesperado',
                content: 'Ha ocurrido un error durante la recarga, por favor intente esta operación luego!.',
              })
            });
          }
        });
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>