<template>
 <div class="epayco-login_forms">
   <h2>Pagar compra</h2>
    <a-form :form="form" @submit="handleSubmit">
      <a-form-item label="Documento">
        <a-input
          v-decorator="[
            'document',
            {
              rules: [{ required: true, message: 'Este campo es requerido!' }],
            },
          ]"
        />
      </a-form-item>
    <a-form-item label="Celular">
      <a-input
        v-decorator="[
          'phone',
          {
            rules: [{ required: true, message: 'Este campo es requerido!' }],
          },
        ]"
        style="width: 100%"
      >
        <a-select
          slot="addonBefore"
          v-model="prefix"
          style="width: 90px"
          required
        >
          <a-select-option v-for="code in areaCodes"
          :key="code" :value="code">
            +{{ code }}
          </a-select-option>
        </a-select>
      </a-input>
    </a-form-item>
    <a-form-item label="Valor">
        <a-input
          v-decorator="[
            'value',
            {
              rules: [{ required: true, message: 'Este campo es requerido!' }],
            },
          ]"
        />
      </a-form-item>
      <div class="check-balance-buttons">
        <a-button type="default" @click="handleReturn">
          Regresar
        </a-button>
        <a-button type="primary" html-type="submit">
          Pagar
        </a-button>
      </div>
    </a-form>
    <a-modal v-model="confirm" title="Confirmar Pago" @ok="handleOk" class="confirm-modal" @cancel="handleCancel" width="300px" okText="Confirmar" cancelText="Cancelar">
      <h4>Se ha enviado un código de confirmación a su correo registrado, coloque el mismo en el siguiente campo:</h4>
      <a-input style="width: 120px" v-model="value" placeholder="Código"></a-input>
    </a-modal>
  </div>
</template>

<script>
import _ from 'lodash'
import emailjs  from 'emailjs-com';

  export default {
    props: {
      clients: {
        type: Array,
        default: []
      },
    },
    data() {
      return {
        areaCodes: ['34', '52', '54', '56', '591', '55', '57', '593', '595', '51', '598', '58'],
        prefix: '',
        confirm: false,
        value: '',
        data: {},
        client: {}
      }
    },
    beforeCreate() {
      this.form = this.$form.createForm(this, { name: 'register' });
    },
    methods: {
      handleReturn() {
        this.$router.push('/epayco');
      },
      handleCancel(e) {
        this.confirm = false;
      },
      handleOk(e) {
        console.log(Number(this.value), this.data.token);
        if (Number(this.value) === this.data.token) {
          this.$axios.post('/client/update', this.client).then((response)=>{
              console.log(response);
              if(response.status === 200) {
                this.confirm = false;
                setTimeout(() => { this.$success({
                  title: 'Su compra ha sido pagada',
                  content: 'El proceso de pago ha sido realizado satisfactoriamente, gracias por usar nuestros servicios!.',
                }), this.$router.push('/epayco')}, 2000);
              }
            }).catch((error)=>{
              console.log(error)
                this.confirm = false;
                setTimeout(() => { this.$danger({
                  title: 'Error desconocido',
                  content: 'Ha ocurrido un error inesperado, por favor intente su operación mas tarde.',
                }), this.$router.push('/epayco')}, 2000);
            });
        } else {
          this.confirm = false;
          setTimeout(() => { this.$danger({
            title: 'Código invalido',
            content: 'El código ingresado no es compatible con el enviado a su email',
          }), this.$router.push('/epayco')}, 2000);
        }
      },
      sendEmail(data) {
        emailjs.send('gmail','template_levcpgp', data, 'user_T0bMueNxyef3P2Jat07GP').then((response)=> {
          if(response.text === 'OK'){
            this.confirm = true;
          }
        }).catch((err)=> {
          console.log("FAILED. error=", err);
        });
      },
      handleSubmit(e) {
        e.preventDefault();
        this.form.validateFieldsAndScroll((err, values) => {
          values.phone = this.prefix + values.phone;
          if (!err) {
            const index = _.findIndex(this.clients, item => item.document === values.document && item.tlf === values.phone);
            if(index !== -1){
              const client = this.clients[index];
              if (client.balance > values.value) {
                const token = _.random(999999);
                this.data = {
                  to_email: client.email,
                  to_name: client.name,
                  price: values.value,
                  token: token
                }
                this.sendEmail(this.data);
                this.client = {
                  document: values.document,
                  tlf: values.phone,
                  balance: -values.value
                }
              } else {
                this.$warning({
                  title: 'Saldo insuficiente',
                  content: 'El monto que desea pagar supera el saldo disponible en su billetera',
                });
              }
            } else {
              this.$danger({
                title: 'Cliente no encontrado',
                content: 'No se encontró el cliente en nuestra base de datos, por favor verifique los datos y vuelva a intentarlo.',
              });
            }
          }
        });
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>