<template>
 <div class="epayco-login_forms">
   <h2>Registro de cliente</h2>
    <a-form :form="form" @submit="handleSubmit">
      <a-form-item label="Documento">
        <a-input
          v-decorator="[
            'document',
            {
              rules: [{ required: true, message: 'Este campo es requerido!' }],
            },
          ]"
        />
      </a-form-item>
      <a-form-item label="Nombres">
        <a-input
          v-decorator="[
            'name',
            {
              rules: [{ required: true, message: 'Este campo es requerido!' }],
            },
          ]"
        />
      </a-form-item>
      <a-form-item label="E-mail">
      <a-input
        v-decorator="[
          'email',
          {
            rules: [
              {
                type: 'email',
                message: 'Formato de E-mail invalido!',
              },
              {
                required: true,
                message: 'Este campo es requerido!',
              },
            ],
          },
        ]"
      />
    </a-form-item>
    <a-form-item label="Celular">
      <a-input
        v-decorator="[
          'phone',
          {
            rules: [{ required: true, message: 'Este campo es requerido!' }],
          },
        ]"
        style="width: 100%"
      >
        <a-select
          slot="addonBefore"
          v-model="prefix"
          style="width: 90px"
          required
        >
          <a-select-option v-for="code in areaCodes"
          :key="code" :value="code">
            +{{ code }}
          </a-select-option>
        </a-select>
      </a-input>
    </a-form-item>
    <div class="check-balance-buttons">
      <a-button type="default" @click="handleReturn">
        Regresar
      </a-button>
      <a-button type="primary" html-type="submit">
        Registrarse
      </a-button>
    </div>
    </a-form>
  </div>
</template>

<script>
  export default {
    props: {
      clients: {
        type: Array,
        default: []
      },
    },
    data() {
      return {
        areaCodes: ['34', '52', '54', '56', '591', '55', '57', '593', '595', '51', '598', '58'],
        prefix: '',
      }
    },
    beforeCreate() {
      this.form = this.$form.createForm(this, { name: 'register' });
    },
    methods: {
      handleReturn() {
        this.$router.push('/epayco');
      },
      handleSubmit(e) {
        e.preventDefault();
        this.form.validateFieldsAndScroll((err, values) => {
          values.phone = this.prefix + values.phone;
          if (!err) {
            const match = _.find(this.clients, item => item.document === values.document && item.tlf === values.phone);
            if (!match) {
              const form = {
                name: values.name,
                document: values.document,
                email: values.email,
                tlf: values.phone,
                balance: 0.00
              }
              this.$axios.post('/client/store', form).then((response)=>{
                if(response.status === 200) {
                  this.$success({
                    title: 'Cliente registrado con éxito',
                    content: 'Felicidades, ahora puede disfrutar de los servicios de Billetera Virtual',
                  })
                  setTimeout(() => this.$router.push('/epayco'), 2000);
                }
              }).catch((error)=>{
                console.log(error)
                this.$danger({
                  title: 'Error inesperado',
                  content: 'Ha ocurrido un error durante el registro',
                });
              });
            } else {
              this.$warning({
                title: 'Cliente existente',
                content: 'Se ha encontrado un cliente con los datos ingresados, por favor verifiquelos e intente nuevamente',
              })
            }
          } 
        });
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>