<template>
  <div class="epayco-login">
    <deposit-to-wallet :clients="clients" />
  </div>
</template>

<script>
import depositToWallet from '@/components/depositToWallet.vue';

  export default {
    layout: 'epayco',
    components: {
      depositToWallet
    },
    computed: {
      clients() {
        return this.$store.state.client.clients
      }
    },
    created () {
      this.clientList();
    },
    methods: {
      clientList() {
        this.$axios.get('client/list').then((response)=> {
          this.$store.commit('client/list', response.data);
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>