<template>
  <div class="epayco-index">
    <h1>Bienvenido a su billetera virtual</h1>
    <h3>Elija la operación que desee realizar</h3>
    <a-row type="flex" justify="space-around" align="middle">
      <a-col :span="24" class="epayco-index_buttons">
        <a-button size="large" block @click="actions('register')" class="epayco-index_buttons__client">
          Nuevo Cliente
        </a-button>
      </a-col>
      <a-col :span="24" class="epayco-index_buttons">
        <a-button size="large" block @click="actions('deposit')" class="epayco-index_buttons__balance">
          Recargar saldo
        </a-button>
      </a-col>
      <a-col :span="24" class="epayco-index_buttons">
        <a-button size="large" block @click="actions('pay')" class="epayco-index_buttons__pay">
          Pagar
        </a-button>
      </a-col>
      <a-col :span="24" class="epayco-index_buttons">
        <a-button size="large" block @click="actions('consultar')" class="epayco-index_buttons__check">
          Consultar saldo
        </a-button>
      </a-col>
    </a-row>
  </div>
</template>

<script>
  export default {
    layout: 'epayco',
    computed: {
      clients() {
        return this.$store.state.client.clients
      }
    },
    created () {
      this.clientList();
    },
    methods: {
      actions (destiny) {
        switch (destiny) {
          case 'register':
            this.$router.push('/register');
            break;
          case 'deposit':
            this.$router.push('/deposit');
            break;
          case 'pay':
            this.$router.push('/pay');
            break;
          case 'consultar':
            this.$router.push('/balance');
            break;
          default:
            break;
        }
      },
      clientList() {
        this.$axios.get('client/list').then((response)=> {
          this.$store.commit('client/list', response.data);
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>