<template>
  <div class="epayco-login">
    <pay-purchase :clients="clients"/>
  </div>
</template>

<script>
import payPurchase from '@/components/payPurchase.vue';

  export default {
    layout: 'epayco',
     components: {
      payPurchase
    },
    computed: {
      clients() {
        return this.$store.state.client.clients
      }
    },
    created () {
      this.clientList();
    },
    methods: {
      clientList() {
        this.$axios.get('client/list').then((response)=> {
          this.$store.commit('client/list', response.data);
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>