<template>
  <div class="epayco-login">
    <register-form :clients="clients"/>
  </div>
</template>

<script>
import registerForm from '@/components/registerForm.vue'

export default {
  layout: 'epayco',
  components: {
    registerForm
  },
  computed: {
    clients() {
      return this.$store.state.client.clients
    }
  },
  created () {
    this.clientList();
  },
  methods: {
    clientList() {
      this.$axios.get('client/list').then((response)=> {
        this.$store.commit('client/list', response.data);
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
