body{
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.epayco-login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  width: 30%;
  background-color: #48C9B0;
  color: #FFFFFF;
  border-radius: 10px;
  margin-top: 80px;
  height: 600px;
  overflow: hidden;
  padding: 2em;
  h1, h3 {
    color: #FFFFFF;
  }
  &_forms {
    color: #FFF;
    h2, label {
      color: #FFF;
    }
  }
}

.confirm-modal {
  .ant-modal-body {
    text-align: center;
    font-size: 12px;
  }
}

.epayco-index {
  margin: auto;
  width: 30%;
  background-color: #48C9B0;
  color: #FFFFFF;
  border-radius: 10px;
  margin-top: 80px;
  height: 600px;
  overflow: hidden;
  padding: 2em 1em;
  text-align: center;
  h1, h3 {
    color: #FFFFFF;
  }
  &_buttons {
    margin-bottom: 1.5em;
    &:first-child {
      margin-top: 3em;
    }
    &__client, &__balance, &__pay, &__check {
      border: none;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__client {
      background-color: #85C1E9;
      &:hover {
        color: #85C1E9;
      }
    }
    &__balance {
      background-color: #BB8FCE;
      &:hover {
        color: #BB8FCE;
      }
    }
    &__pay {
      background-color: #16A085;
      &:hover {
        color: #16A085;
      }
    }
    &__check {
      background-color: #F7DC6F;
      &:hover {
        color: #F7DC6F;
      }
    }
  }
}

.check-balance-buttons {
  text-align: right;
}
